In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C': np.random.rand(8),
                    'D': np.random.randn(8)})
df.head()

     A      B         C         D
0  foo    one  0.289827  1.209550
1  bar    one  0.307755  0.343463
2  foo    two  0.120615  0.272450
3  bar  three  0.650146  0.518505
4  foo    two  0.194848 -0.637224

In [25]:
trans_df = df.groupby('A').transform(lambda x: (x - x.mean()) / x.std())
trans_df.describe()

                  C             D
count  8.000000e+00  8.000000e+00
mean  -1.387779e-16 -5.551115e-17
std    9.258201e-01  9.258201e-01
min   -1.000956e+00 -1.429709e+00
25%   -7.694223e-01 -4.410172e-01
50%   -3.098996e-01  1.514901e-01
75%    9.943817e-01  5.467048e-01
max    1.172234e+00  1.330528e+00