In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C': np.random.rand(8),
                    'D': np.random.randn(8)})
df.head()

     A      B         C         D
0  foo    one  0.436955  2.277497
1  bar    one  0.575987  1.585253
2  foo    two  0.191645 -1.004246
3  bar  three  0.338288  0.422753
4  foo    two  0.067202 -0.116060

In [8]:
trans_df = df.groupby('A').transform(lambda x: (x - x.mean()) / x.std())
#trans_df.describe()
trans_df

          C         D
0  0.161697  0.592232
1  1.032572  1.097859
2 -0.667155 -1.261925
3 -0.068686 -0.858816
4 -1.087622 -0.760107
5 -0.963886 -0.239043
6  1.530327  1.192854
7  0.062754  0.236946